body {
    width : 100%;
    margin : 0;
    background-color : #FFFEFE;
    font-family : 'Oswald', sans-serif;
    color : #0B0B0B;
    }
    h1, h2, h3 {
    font-family : 'Josefin Sans', sans-serif;
    }
    h1 {
    font-size : 2.625em;
    }
    h2 {
    font-size : 2em;
    }
    h3 {
    font-size : 1.5em;
    }
    p, li {
    font-size : 1.125em;
    }
    ul {
    list-style-type : none;
    }
    a {
    text-decoration : none;
    }
    .onHover:hover {
    box-shadow : 2px 8px 16px 2px rgb(32, 32, 32);
    }
    header {
    display : flex;
    width : 100%;
    margin : 0;
    background-color : #FFFEFE;
    }
    #siteLogo {
    width : 15em;
    }
    #siteLogo:hover {
    filter : drop-shadow(5px 2px 2px #0B0B0B);
    }
    .headerRight a {
    color : #0B0B0B;
    }
    .headerRight a:hover {
    color : #527500;
    text-decoration : underline overline;
    text-decoration-color : #0B0B0B;
    }
    .stickIt {
    position : sticky;
    top : 0;
    z-index : 5;
    }
    nav {
    margin-top : -1em;
    z-index : 15;
    background-color : #FFF;
    }
    nav button {
    position : absolute;
    border : none;
    background : rgb(209, 213, 216, 0.15);
    font-weight : bold;
    }
    nav button:focus {
    outline : 0;
    }
    nav button:hover {
    background-color : rgb(209, 213, 216, 0.15);
    color : #527500;
    }
    .pageTitle {
    text-align : center;
    padding-top : 0.2em;
    margin-top : 1em;
    font-style : italic;
    box-shadow : 2px 8px 16px 2px rgb(32, 32, 32);
    }
    #prefootMid img:hover {
    box-shadow : 2px 4px 8px 2px rgb(0, 0, 0, 0.5), 0 6px 20px 0 rgb(0, 0, 0, 0.6);
    border-radius : 50%;
    }
    .footerBzInfo {
    display : flex;
    }
    #preFooter {
    margin-top : 5em;
    background-color : #d1d5d8;
    }
    #preFooter h4 {
    font-family : Dosis;
    }
    #prefootMid {
    display : flex;
    color : #0B0B0B;
    }
    #prefootMid a {
    color : #0b0b0b;
    text-decoration : none;
    }
    #prefootMid a:hover {
    color : #527500;
    text-decoration : underline overline;
    text-decoration-color : #0B0B0B;
    }
    #midfootMid {
    display : flex;
    margin-top : 1em;
    margin-bottom : 1em;
    }
    #midfootMid a {
    display : flex;
    }
    .iconLinks {
    width : 100%;
    }
    #prefootMid img {
    padding : 2%;
    }
    .bottomFooter {
    width : 100%;
    text-align : center;
    margin : 0;
    background-color : #FFFEFE;
    box-shadow : 0 -6px 6px 0 rgb(53, 53, 53);
    }
    .bottomFooter a {
    color : #527500;
    }
    .bottomFooter a:hover {
    color : #a5ec00;
    }
    #mainWelcome {
    display : flex;
    }
    #mainWelcome img {
    border-radius : 0.2em;
    box-shadow : 2px 8px 16px 2px rgb(32, 32, 32);
    }
    #mainWelcome h1 {
    font-size : 2.262em;
    }
    #mainWelcome a {
    color : #5c8301;
    }
    #mainWelcome a:hover {
    color : #9ee200;
    }
    #welcomeSubTitle {
    font-size : 1.5em;
    }
    #homeContent {
    margin : 0 auto;
    }
    .homeMain {
    display : flex;
    }
    .heroContainer a {
    text-align : center;
    background-color : #5c8301;
    color : #FFFEFE;
    border-radius : 0.5em;
    box-shadow : 2px 8px 16px 2px rgb(32, 32, 32);
    }
    .heroContainer a:hover {
    background-color : #9ee200;
    color : #0B0B0B;
    }
    .templeInfoContainer {
    background-color : #d1d5d8;
    padding : 2em;
    border-radius : 0.2em;
    display : flex;
    }
    .indTempImg {
    padding-top : 2em;
    align-self : flex-start;
    }
    .indTempImg img {
    max-width : 100%;
    border-radius : 0.2em;
    }
    .templeTextContainer {
    margin-left : 2em;
    }
    .mainTempleInfoHome h3 {
    margin-bottom : -0.5em;
    }
    .amenitiesHome {
    background-color : #1f1f1f;
    padding : 2em;
    border-radius : 0.2em;
    color : #FFFEFE;
    }
    .amenitiesHome li {
    padding : 0.38em 0;
    list-style : none;
    }
    .amenitiesHome li:before {
    content : "\2022";
    color : #5c8301;
    font-weight : bold;
    display : inline-block;
    width : 1em;
    margin-left : -1em;
    }
    .templeTitleBox {
    width : 300px;
    margin : 3em 2em 0 0;
    padding : 15px;
    background-color : #1f1f1f;
    color : #FFF;
    border-radius : 2%;
    }
    .weatherSumBox {
    max-width : 300px;
    margin : 3em 2em 0 0;
    padding : 15px;
    background-color : #1f1f1f;
    color : #FFF;
    border-radius : 2%;
    }
    .weatherSumBox .value {
    color : #9ee200;
    }
    .weatherInfoLine .label, .weatherInfoLine .value {
    display : inline-block;
    margin : 2px;
    }
    .wImageDiv {
    max-width : 100px;
    margin : 0 auto;
    }
    .templeInfoContainerBox {
    max-width : 300px;
    margin : 1em;
    padding-top : 0.5em;
    padding : 1em;
    background-color : #4f524a;
    color : #FFF;
    border-radius : 2%;
    }
    .clickSlideToggle:hover {
    color : #5c8301;
    cursor : pointer;
    }
    #smallViewBtoTop {
    position : fixed;
    border-radius : 1em;
    display : block;
    bottom : 0.5em;
    right : 1.5em;
    border : none;
    background-color : rgb(92, 131, 1, 0.5);
    padding : 0.5em 1em;
    cursor : pointer;
    box-shadow : 2px 8px 16px 2px rgb(32, 32, 32);
    }
    #smallViewBtoTop:focus {
    outline : 0;
    }
    #servicesMain {
    display : flex;
    flex-flow : row wrap;
    justify-content : space-around;
    }
    .servicesInfoContainer {
    background-color : #d1d5d8;
    width : 375px;
    padding : 2em;
    border-radius : 0.2em;
    color : #1f1f1f;
    margin : 2em;
    box-shadow : 2px 8px 16px 2px rgb(32, 32, 32);
    }
    .servicesInfoContainer img {
    border-radius : 2%;
    width : 100%;
    margin : 0 auto;
    box-shadow : 2px 8px 16px 2px rgb(32, 32, 32);
    }
    .servicesInfoContainer li {
    padding : 0.38em 0;
    list-style : none;
    }
    .servicesInfoContainer li:before {
    content : "\2022";
    color : #5c8301;
    font-weight : bold;
    display : inline-block;
    width : 1em;
    margin-left : -1em;
    }
    #reservationBackground {
    background-image : url("../images/reservations/reservationBackground.jpg");
    background-color : #ccc;
    background-position : center;
    background-repeat : no-repeat;
    background-size : cover;
    width : 100%;
    }
    #reservationTitle {
    color : rgb(255, 254, 254);
    }
    .reservationFormWrapper {
    background : rgb(255, 254, 254, 0.8);
    border-radius : 5px;
    box-shadow : 0 0 10px;
    }
    #upperUpper, #lowerUpper {
    display : flex;
    }
    #upperUpper > div, #lowerUpper > div {
    justify-content : space-evenly;
    margin-right : 1.5em;
    }
    .reservationForm input::placeholder {
    color : #666666;
    }
    .reservationForm .input-field .input, .reservationForm .message textarea {
    margin : 10px 0;
    background : transparent;
    border : 0;
    border-bottom : 2px solid rgb(92, 131, 1, 0.8);
    padding : 10px;
    color : #1f1f1f;
    }
    .reservationForm .subjArea {
    margin : 10px 0;
    background : transparent;
    border : 0;
    border-bottom : 2px solid rgb(92, 131, 1, 0.8);
    padding : 5px;
    color : #1f1f1f;
    }
    .reservationForm .messageReservation {
    display : flex;
    margin : 1em;
    }
    .reservationForm .subjOpt {
    color : #1f1f1f;
    }
    .containerContact {
    display : flex;
    width : 100%;
    background-color : #d1d5d8;
    margin-bottom : -5em;
    padding-bottom : 2em;
    }
    #contactHeader {
    margin : 1.5em auto;
    text-align : center;
    }
    .formField {
    display : flex;
    }
    .formField .contact-form, .formField .bznssInfo {
    margin : 2em;
    }
    .contact-form {
    background : rgb(31, 31, 31, 0.9);
    border-radius : 5px;
    display : flex;
    box-shadow : 0 0 10px;
    }
    input::placeholder {
    color : rgb(209, 213, 216, 0.7);
    }
    .input-field {
    display : flex;
    }
    .input-field .input, .message textarea {
    margin : 10px 0;
    background : transparent;
    border : 0;
    border-bottom : 2px solid rgb(92, 131, 1, 0.8);
    padding : 10px;
    color : rgb(209, 213, 216, 0.7);
    }
    .subjArea {
    margin : 10px 0;
    background : transparent;
    border : 0;
    border-bottom : 2px solid rgb(92, 131, 1, 0.8);
    padding : 5px;
    color : rgb(209, 213, 216, 0.7);
    }
    .message textarea {
    height : 100px;
    width : 100%;
    }
    .btn {
    background-color : #FFFEFE;
    max-width : 100%;
    text-align : center;
    padding : 15px;
    border-radius : 5px;
    color : rgb(92, 131, 1);
    cursor : pointer;
    text-transform : uppercase;
    font-weight : bold;
    font-size : 1.2em;
    box-shadow : 2px 8px 16px 2px rgb(32, 32, 32);
    }
    .btn:hover {
    background : rgb(92, 131, 1, 0.8);
    color : #FFFEFE;
    box-shadow : 1px 4px 8px 1px rgb(32, 32, 32);
    }
    .bznssInfo {
    display : flex;
    margin-left : 4em;
    }
    input:not([type="submit"]):valid:focus, textarea:valid:focus {
    box-shadow : 0 0 10px rgb(101, 169, 10, 0.8);
    outline : 0;
    }
    input:not([type="submit"]):invalid:focus, textarea:invalid:focus {
    box-shadow : 0 0 10px rgb(204, 63, 133, 0.8);
    outline : 0;
    }
    input[type="text"]#name:focus:invalid ~ #nameLbl:before {
    content : "Please enter your name!";
    color : #827576;
    font-size : 0.8em;
    }
    input:focus:valid ~ #nameLbl:before {
    content : "Great, thank you!";
    color : rgb(228, 241, 254, 0.8);
    font-size : 0.8em;
    }
    .subjOpt {
    color : #827576;
    }
    #contactFooterDiv {
    margin-top : 0;
    background-color : #d1d5d8;
    }
    #resourcesContainer {
    margin : 1em auto;
    }
    #resourcesContainer li {
    margin : 1em auto;
    }
    #resourcesContainer a {
    color : #334901;
    }
    #resourcesContainer a:hover {
    color : #5c8301;
    }
    @font-face {
    {
    font-family : 'Josefin Sans';
    font-style : normal;
    font-weight : 400;
    src : url(https://fonts.gstatic.com/s/josefinsans/v15/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_DjQbMlhLzTs.woff2) format('woff2');
    unicode-range : U+0102-0103, U+0102-0103, U+0102-0103, U+0102-0103, U+0102-0103, U+0102-0103, U+0102-0103, U+0102-0103;
    }
    }
    @font-face {
    {
    font-family : 'Josefin Sans';
    font-style : normal;
    font-weight : 400;
    src : url(https://fonts.gstatic.com/s/josefinsans/v15/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_DjQbMhhLzTs.woff2) format('woff2');
    unicode-range : U+0100-024F, U+0100-024F, U+0100-024F, U+0100-024F, U+0100-024F, U+0100-024F, U+0100-024F, U+0100-024F, U+0100-024F;
    }
    }
    @font-face {
    {
    font-family : 'Josefin Sans';
    font-style : normal;
    font-weight : 400;
    src : url(https://fonts.gstatic.com/s/josefinsans/v15/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_DjQbMZhLw.woff2) format('woff2');
    unicode-range : U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF;
    }
    }
    @font-face {
    {
    font-family : 'Oswald';
    font-style : normal;
    font-weight : 400;
    src : url(https://fonts.gstatic.com/s/oswald/v31/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUtiZTaR.woff2) format('woff2');
    unicode-range : U+0460-052F, U+0460-052F, U+0460-052F, U+0460-052F, U+0460-052F, U+0460-052F;
    }
    }
    @font-face {
    {
    font-family : 'Oswald';
    font-style : normal;
    font-weight : 400;
    src : url(https://fonts.gstatic.com/s/oswald/v31/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUJiZTaR.woff2) format('woff2');
    unicode-range : U+0400-045F, U+0400-045F, U+0400-045F, U+0400-045F;
    }
    }
    @font-face {
    {
    font-family : 'Oswald';
    font-style : normal;
    font-weight : 400;
    src : url(https://fonts.gstatic.com/s/oswald/v31/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUliZTaR.woff2) format('woff2');
    unicode-range : U+0102-0103, U+0102-0103, U+0102-0103, U+0102-0103, U+0102-0103, U+0102-0103, U+0102-0103, U+0102-0103;
    }
    }
    @font-face {
    {
    font-family : 'Oswald';
    font-style : normal;
    font-weight : 400;
    src : url(https://fonts.gstatic.com/s/oswald/v31/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUhiZTaR.woff2) format('woff2');
    unicode-range : U+0100-024F, U+0100-024F, U+0100-024F, U+0100-024F, U+0100-024F, U+0100-024F, U+0100-024F, U+0100-024F, U+0100-024F;
    }
    }
    @font-face {
    {
    font-family : 'Oswald';
    font-style : normal;
    font-weight : 400;
    src : url(https://fonts.gstatic.com/s/oswald/v31/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiZQ.woff2) format('woff2');
    unicode-range : U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF;
    }
    }
    @media only screen and (max-width: 415px) {
    header {
    flex-flow : column;
    justify-content : space-around;
    margin-top : 2em;
    height : 230px;
    align-items : center;
    box-shadow : 2px 8px 16px 2px rgb(32, 32, 32);
    }
    .headerRight {
    font-size : 1.8em;
    }
    .stickIt {
    position : relative;
    top : 0;
    z-index : 5;
    }
    nav button {
    display : block;
    top : 190px;
    }
    .navigation {
    box-shadow : 2px 8px 16px 2px rgb(32, 32, 32);
    }
    nav ul {
    flex-flow : column;
    justify-content : flex-end;
    list-style-type : none;
    padding : 0;
    margin : 0;
    }
    nav ul li a {
    display : block;
    padding : 0.8rem 2%;
    text-decoration : none;
    border-top : 1px solid rgb(11, 11, 11, 0.911);
    color : #0B0B0B;
    }
    nav ul li.active a {
    background-color : #edf0f1;
    color : rgb(121, 121, 121);
    border-radius : 0 1em 1em 0;
    }
    nav ul li.active a:hover {
    background-color : #edf0f1;
    color : rgb(121, 121, 121);
    border-radius : 0 1em 1em 0;
    box-shadow : none;
    }
    nav ul.hide {
    display : none;
    }
    nav li a:hover {
    background-color : #d1d5d8;
    color : #0B0B0B;
    box-shadow : 2px 0 16px 2px rgb(32, 32, 32);
    }
    nav li a:active {
    background-color : #d1d5d8;
    border-radius : 1em 1em 0 0;
    color : #0b0b0b;
    }
    .pageTitle {
    font-size : 2em;
    }
    footer {
    max-width : 100%;
    }
    .footerBzInfo {
    align-content : center;
    align-items : center;
    padding : 0.2em;
    }
    #prefootMid {
    display : flex;
    flex-flow : row wrap;
    justify-content : center;
    padding : 1em;
    }
    .iconLinks {
    display : flex;
    flex-flow : row;
    justify-content : space-around;
    }
    #midfootMid a {
    align-self : center;
    padding : 5px;
    }
    #map iframe {
    max-width : 370px;
    height : 200px;
    }
    .heroContainer img {
    max-width : 100%;
    margin : 0;
    z-index : 0;
    }
    .heroContainer {
    width : 100%;
    }
    .heroContainer a {
    width : 100%;
    padding : 0.3em 0;
    font-size : 1.1em;
    }
    .heroContainer a:hover {
    background-color : #9ee200;
    color : #0B0B0B;
    }
    .bookNowBtn {
    display : block;
    width : 100%;
    }
    #homeContent {
    width : 100%;
    }
    #mainWelcome {
    flex-flow : column;
    justify-content : center;
    width : 100%;
    }
    #mainWelcome > div:nth-child(1) {
    padding : 0 1em;
    }
    #mainImgDiv {
    max-width : 100%;
    margin : 0 auto;
    }
    #mainImgDiv img {
    align-content : center;
    }
    .homeMain {
    flex-flow : column;
    }
    #mainImgDiv picture {
    width : 100%;
    }
    .templeInfoContainer {
    flex-flow : column;
    max-width : 90%;
    margin : 2em 1em;
    padding : 1em;
    }
    .amenitiesHome {
    flex-flow : column;
    max-width : 90%;
    margin : 1em;
    }
    .templeTop {
    margin-top : 3em;
    }
    .templeBottom {
    margin-bottom : 3em;
    }
    .containerReservation {
    width : 100%;
    display : flex;
    flex-flow : column;
    }
    #reservationTitle {
    width : 100%;
    align-self : center;
    }
    .containerReservation > div {
    justify-content : center;
    align-items : center;
    }
    .reservationFormWrapper {
    display : flex;
    justify-content : center;
    align-self : center;
    max-width : 400px;
    }
    .reservationForm {
    margin : 1em;
    justify-content : center;
    align-content : center;
    }
    #reservationInputTop > div > div {
    margin : 1em;
    }
    #reservationInputTop {
    flex-flow : column;
    justify-content : space-evenly;
    }
    #upperUpper, #lowerUpper {
    flex-flow : column;
    justify-content : space-around;
    }
    #upperUpper > div, #lowerUpper > div {
    justify-content : space-evenly;
    margin-right : 1.5em;
    }
    #upperUpper > div label, #lowerUpper > div label {
    display : block;
    }
    .reservationForm .messageReservation {
    flex-flow : column;
    width : 85%;
    }
    .reservationForm .messageReservation textarea {
    height : 200px;
    width : 100%;
    margin : 10px 0;
    background : transparent;
    border : 0;
    border-bottom : 2px solid rgb(92, 131, 1, 0.8);
    padding : 10px;
    color : #1f1f1f;
    }
    .containerContact {
    flex-direction : column;
    }
    .formField {
    flex-flow : column;
    justify-content : center;
    }
    .contact-form {
    max-width : 300px;
    padding : 10px;
    }
    .input-field {
    flex-direction : column;
    width : 100%;
    }
    .bznssInfo {
    flex-flow : row wrap;
    align-self : center;
    }
    #resourcesContainer {
    max-width : 90%;
    }
    }
    @media only screen and (min-width: 415px) and (max-width: 1025px) {
    header {
    flex-flow : column;
    justify-content : space-around;
    margin-top : 2em;
    height : 230px;
    align-items : center;
    box-shadow : 2px 8px 16px 2px rgb(32, 32, 32);
    }
    .headerRight {
    font-size : 1.8em;
    }
    .stickIt {
    position : relative;
    top : 0;
    z-index : 5;
    }
    nav button {
    display : block;
    top : 190px;
    }
    .navigation {
    box-shadow : 2px 8px 16px 2px rgb(32, 32, 32);
    }
    nav ul {
    flex-flow : column;
    justify-content : flex-end;
    list-style-type : none;
    padding : 0;
    margin : 0;
    }
    nav ul li a {
    display : block;
    padding : 0.8rem 2%;
    text-decoration : none;
    border-top : 1px solid rgb(11, 11, 11, 0.911);
    color : #0B0B0B;
    }
    nav ul li.active a {
    background-color : #edf0f1;
    color : rgb(121, 121, 121);
    border-radius : 0 1em 1em 0;
    }
    nav ul li.active a:hover {
    background-color : #edf0f1;
    color : rgb(121, 121, 121);
    border-radius : 0 1em 1em 0;
    box-shadow : none;
    }
    nav ul.hide {
    display : none;
    }
    nav li a:hover {
    background-color : #d1d5d8;
    color : #0B0B0B;
    box-shadow : 2px 0 16px 2px rgb(32, 32, 32);
    }
    nav li a:active {
    background-color : #d1d5d8;
    border-radius : 1em 1em 0 0;
    color : #0b0b0b;
    }
    .pageTitle {
    font-size : 2.5em;
    }
    footer {
    max-width : 100%;
    }
    .footerBzInfo {
    align-content : center;
    align-items : center;
    padding : 0.2em;
    }
    #prefootMid {
    display : flex;
    flex-flow : column wrap;
    justify-content : space-around;
    padding : 1em;
    }
    .iconLinks {
    display : flex;
    flex-flow : row;
    justify-content : space-around;
    }
    #midfootMid a {
    align-self : center;
    padding : 5px;
    }
    #map iframe {
    max-width : 370px;
    height : 200px;
    }
    .heroContainer img {
    width : 100%;
    margin : 0;
    z-index : 0;
    }
    .heroContainer {
    width : 100%;
    }
    .heroContainer a {
    width : 100%;
    padding : 0.3em 0;
    font-size : 1.1em;
    }
    .heroContainer a:hover {
    background-color : #9ee200;
    color : #0B0B0B;
    }
    .bookNowBtn {
    display : block;
    width : 100%;
    }
    #homeContent {
    width : 100%;
    }
    #mainWelcome {
    flex-flow : row wrap;
    justify-content : center;
    width : 100%;
    margin : 3em 1em 0 1em;
    }
    #mainWelcome > div:nth-child(1) {
    padding : 0 1em;
    }
    #mainImgDiv {
    width : 100%;
    display : flex;
    flex-flow : row;
    align-content : center;
    margin : 1em;
    }
    #mainImgDiv img {
    align-content : center;
    }
    .homeMain {
    flex-flow : column;
    }
    .templeInfoContainer {
    flex-flow : row wrap;
    max-width : 90%;
    margin : 1em;
    justify-content : center;
    }
    .amenitiesHome {
    flex-flow : column;
    max-width : 100%;
    margin : 1em;
    align-self : center;
    }
    .templeTop {
    margin-top : 3em;
    }
    .templeBottom {
    margin-bottom : 3em;
    }
    .indTempImg, .indTempImg > div {
    display : flex;
    flex-flow : column;
    justify-content : center;
    align-items : center;
    }
    .containerReservation {
    width : 100%;
    display : flex;
    flex-flow : column;
    }
    #reservationTitle {
    width : 100%;
    align-self : center;
    }
    .containerReservation > div {
    justify-content : center;
    align-items : center;
    }
    .reservationFormWrapper {
    display : flex;
    justify-content : center;
    align-self : center;
    width : 400px;
    }
    .reservationForm {
    margin : 1em;
    justify-content : center;
    align-content : center;
    }
    #reservationInputTop > div > div {
    margin : 1em;
    }
    #reservationInputTop {
    flex-flow : column;
    justify-content : space-evenly;
    }
    #upperUpper, #lowerUpper {
    flex-flow : column;
    justify-content : space-around;
    }
    #upperUpper > div, #lowerUpper > div {
    justify-content : space-evenly;
    margin-right : 1.5em;
    }
    #upperUpper > div label, #lowerUpper > div label {
    display : block;
    }
    .reservationForm .messageReservation {
    flex-flow : column;
    width : 85%;
    }
    .reservationForm .messageReservation textarea {
    height : 200px;
    width : 100%;
    margin : 10px 0;
    background : transparent;
    border : 0;
    border-bottom : 2px solid rgb(92, 131, 1, 0.8);
    padding : 10px;
    color : #1f1f1f;
    }
    .containerContact {
    flex-direction : column;
    }
    .formField {
    flex-flow : column;
    justify-content : center;
    align-self : center;
    }
    .contact-form {
    width : 400px;
    padding : 10px;
    }
    .input-field {
    flex-direction : column;
    width : 100%;
    }
    .input-field input {
    width : 350px;
    }
    .bznssInfo {
    flex-flow : row wrap;
    align-self : center;
    }
    #resourcesContainer {
    max-width : 85%;
    }
    }
    @media only screen and (min-width: 1025px) {
    header {
    flex-flow : row;
    justify-content : space-around;
    height : 120px;
    margin-top : 2em;
    align-items : center;
    }
    .headerRight {
    font-size : 2.2em;
    }
    .pageTitle {
    font-size : 3em;
    }
    nav button {
    display : none;
    }
    .active {
    background-color : #d1d5d8;
    border-radius : 4em 4em 0 0;
    }
    .navigation {
    list-style : none;
    margin : 0;
    font-size : 1.2rem;
    background : #FFFEFE;
    display : flex;
    flex-flow : row wrap;
    justify-content : flex-end;
    border-bottom : 1px solid #0B0B0B;
    box-shadow : 0 6px 6px 0 rgb(53, 53, 53);
    }
    #primaryNav {
    padding-right : 5em;
    }
    .navigation a {
    text-decoration : none;
    display : block;
    padding : 0.8em 1em;
    color : #0B0B0B;
    }
    .navigation a:hover {
    color : #d1d5d8;
    text-decoration : overline;
    text-decoration-color : #0B0B0B;
    }
    .active {
    background-color : #d1d5d8;
    border-radius : 4em 4em 0 0;
    }
    .active a:hover {
    color : #d1d5d8;
    text-decoration : none;
    }
    footer {
    max-width : 75%;
    margin : 0 auto;
    }
    .footerBzInfo {
    align-content : center;
    align-items : center;
    padding : 0.2em;
    }
    #prefootMid {
    justify-content : space-evenly;
    align-self : center;
    padding : 25px;
    }
    .iconLinks {
    display : flex;
    flex-flow : row;
    justify-content : flex-end;
    }
    #midfootMid a {
    flex-flow : row;
    justify-content : space-around;
    padding : 25px;
    }
    #prefootMid div {
    align-self : center;
    }
    #map iframe {
    width : 400px;
    height : 300px;
    }
    #mainWelcome {
    flex-flow : row;
    margin-top : 5em;
    }
    #homeContent {
    width : 75%;
    }
    .homeMain {
    justify-content : space-around;
    }
    .heroContainer {
    position : relative;
    }
    .heroContainer img {
    width : 100%;
    margin : 0;
    z-index : 0;
    }
    .heroContainer a {
    position : absolute;
    width : 25%;
    bottom : -1em;
    left : -1em;
    padding : 1em 2em;
    font-size : 1.5em;
    border-radius : 0.5em;
    }
    #mainWelcome > div:nth-child(1) {
    padding : 0 2em;
    }
    .templeInfoContainer {
    max-width : 50%;
    margin : 5em auto 1em auto;
    background-color : #d1d5d8;
    padding : 2em;
    border-radius : 0.2em;
    justify-content : space-around;
    }
    .indTempImg {
    padding-top : 2em;
    align-self : flex-start;
    }
    .indTempImg img {
    width : 100%;
    border-radius : 0.2em;
    }
    .templeTextContainer {
    margin-left : 2em;
    }
    .mainTempleInfo h3 {
    margin-bottom : -0.6em;
    }
    .amenitiesHome {
    margin : 5em;
    background-color : #1f1f1f;
    padding : 2em;
    border-radius : 0.2em;
    color : #FFFEFE;
    }
    .amenitiesHome li {
    padding : 0.38em 0;
    list-style : none;
    }
    .amenitiesHome li:before {
    content : "\2022";
    color : #5c8301;
    font-weight : bold;
    display : inline-block;
    width : 1em;
    margin-left : -1em;
    }
    #reservationTitle {
    color : rgb(255, 254, 254);
    align-self : center;
    margin-right : 0.5em;
    text-align : center;
    }
    .containerReservation {
    display : flex;
    max-width : 75%;
    flex-flow : row;
    margin : 5em 5em 5em 15em;
    }
    .reservationForm {
    margin : 2em;
    }
    .reservationFormWrapper {
    margin : 2em;
    }
    #reservationInputTop {
    flex-flow : column;
    justify-content : space-evenly;
    }
    #upperUpper, #lowerUpper {
    margin : 2em;
    flex-flow : row;
    justify-content : space-around;
    }
    #upperUpper > div, #lowerUpper > div {
    justify-content : space-evenly;
    margin-right : 1.5em;
    }
    .reservationForm .messageReservation {
    flex-flow : column;
    align-self : flex-start;
    width : 300px;
    }
    .reservationForm .messageReservation textarea {
    height : 200px;
    width : 100%;
    margin : 10px 0;
    background : transparent;
    border : 0;
    border-bottom : 2px solid rgb(92, 131, 1, 0.8);
    padding : 10px;
    color : #1f1f1f;
    }
    .containerContact {
    flex-direction : column;
    }
    .formField {
    flex-flow : row;
    justify-content : center;
    }
    .contact-form {
    width : 400px;
    padding : 30px;
    }
    .input-field {
    flex-direction : column;
    width : 100%;
    }
    .bznssInfo {
    flex-flow : row wrap;
    align-self : flex-start;
    }
    #resourcesContainer {
    max-width : 75%;
    }
    }
    html {
    line-height : 1.15;
    }
    body {
    margin : 0;
    }
    h1 {
    font-size : 2em;
    margin : 0.67em 0;
    }
    hr {
    box-sizing : content-box;
    height : 0;
    overflow : visible;
    }
    pre {
    font-family : monospace, monospace;
    font-size : 1em;
    }
    a {
    background-color : transparent;
    }
    abbr[title] {
    border-bottom : none;
    text-decoration : underline;
    text-decoration : underline dotted;
    }
    b, strong {
    font-weight : bolder;
    }
    code, kbd, samp {
    font-family : monospace, monospace;
    font-size : 1em;
    }
    small {
    font-size : 80%;
    }
    sub, sup {
    font-size : 75%;
    line-height : 0;
    position : relative;
    vertical-align : baseline;
    }
    sub {
    bottom : -0.25em;
    }
    sup {
    top : -0.5em;
    }
    img {
    border-style : none;
    }
    button, input, optgroup, select, textarea {
    font-family : inherit;
    font-size : 100%;
    line-height : 1.15;
    margin : 0;
    }
    button, input {
    overflow : visible;
    }
    button, select {
    text-transform : none;
    }
    button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    border-style : none;
    padding : 0;
    }
    button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
    outline : 1px dotted ButtonText;
    }
    fieldset {
    padding : 0.35em 0.75em 0.625em;
    }
    legend {
    box-sizing : border-box;
    color : inherit;
    display : table;
    max-width : 100%;
    padding : 0;
    white-space : normal;
    }
    progress {
    vertical-align : baseline;
    }
    textarea {
    overflow : auto;
    }
    [type="checkbox"], [type="radio"] {
    box-sizing : border-box;
    padding : 0;
    }
    [type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height : auto;
    }
    [type="search"] {
    outline-offset : -2px;
    }
    ::-webkit-file-upload-button {
    font : inherit;
    }
    details {
    display : block;
    }
    summary {
    display : list-item;
    }
    template {
    display : none;
    }
    [hidden] {
    display : none;
    }