body {
    font-size: 25px;
    background-color: aquamarine
}
header, main, footer {
    max-width: 960px;
    margin: 0 auto;
  }

  header{
      background-color: burlywood;
      color: blue
  }
  
main section p {
    margin: 5px;
    border: 10px solid black;
    padding:5px;
    background-color: azure;
}